body {
  background-image: url("wallpaper-1453005.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body, html, .container-fluid {
  height: 100%;
}

#googlefont1 {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}