#table {
  display: table;
  border: 3px solid fuchsia;
  border-collapse: separate;
  border-spacing: 2px;
  height: 600px;
  width: 100%;
}

#header, tr {
  border: 1px solid seagreen;
}

#title, td {
  text-align: center;
}

#nav, td {
  text-align: justify;
}

#section, td {
  text-align: left;
}
